{% extends 'problemandsolutionbase.html' %}

{% block head %}
    <title>Problem and Solution</title>
{% endblock %}

{% block body %}

<!--
<div class="container">
  <h2>Collapsible Panel</h2>
  <p>Click on the collapsible panel to open and close it.</p>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1" class>Collapsible panel</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="well">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci asperiores corporis cum debitis earum error expedita explicabo hic id in numquam officia officiis perspiciatis sed sit, suscipit, ullam ut!</p>
          <h1>মেসেজ এর মাধ্যমে শ্বাস উদ্দীপিত করা। খব বেশী হলে ডাক্তার CPAP যন্ত্রের টিউব বাচ্চার নাকে সংযুক্ত করতে পারেন অথবা গলায় প্রবেশ করাতে পারেন যান্ত্রিক বাউচলাচলের জন্য। ৬মাসের বেশী এর প্রয়োজন হবে না।</h1>
          </div>


        </div>
          <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
</div>
        <div class="panel-footer">

        </div>
      </div>
    </div>
  </div>
</div>
-->


{% for item in items %}

<div class="container">

  <div class="panel-group">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#{{ item.pk }}">{{ item.problemname }}</a>
            </h4>
          </div>

          <div id="{{ item.pk }}" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="well">
                <p>  Details</p>
                <p>{{ item.problemdetails }}</p>
                <p> Sign and symptoms </p>
                <p> {{ item.problemsignandsymptom }}</p>
                <p>Solution </p>
                <p> {{ item.solution }}</p>
              </div>
            </div>
          </div>

          <div class="panel-footer">

          </div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
{% endblock %}
