{% extends 'loginandregisterbase.html' %}

{% block head %}
    <title>Login Or Register</title>
{% endblock %}


{% block body %}

<div class="jumbotron page_wrap">
    <div class="container">

    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="profile/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls ">
                <input type="text" id="username" name="username"  style="text-align:center" placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn-primary" style="margin-top:15px;width:100%;padding:8px">Login</button>
            </div>
        </div>
        </form>

    </div>
    </div>
     </div>

{% endblock %}
